/**
 * Timeline
 */
/*
.sf-profiler-timeline .legends {
  font-size: 12px;
  line-height: 1.5em;
}

.sf-profiler-timeline .legends span {
  border-left-width: 10px;
  border-left-style: solid;
  padding: 0 10px 0 5px;
}

.timeline {
  background-color: #fbfbfb;
  margin-bottom: 15px;
  margin-top: 5px;
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif;
}

.default {
  fill: #E91E63;
  stroke-width: 6;
}

.legends .default {
  border-left-color: #E91E63;
}

.section {
  fill: #3F51B5;
  stroke-width: 6;
}

.legends .section {
  border-left-color: #3F51B5;
}

.event_listener {
  fill: #00BCD4;
  stroke-width: 6;
}

.legends .event_listener {
  border-left-color: #00BCD4;
}

.event_listener_loading {
  fill: #8BC34A;
  stroke-width: 6;
}

.legends .event_listener_loading {
  border-left-color: #8BC34A;
}

.template {
  fill: #FFC107;
  stroke-width: 6;
}

.legends .template {
  border-left-color: #FFC107;
}

.service {
    fill: #795548;
    stroke-width: 6;
}

.legends .service {
    border-left-color: #795548;
}
*/

text {
    font-size: 16px;
    line-height: 20px;
    height: 22px;
    fill: rgba(0, 0, 0, 0.87);
}
#timeline {
    background: lightgray;
    margin: 10px 0;
    width: 100%;
    position: relative;
}
.timeline__row {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(0, 0, 0, 0.18);
}
.timeline__period--default {
    fill: #E91E63;
}
.timeline__period--service {
    fill: #3F51B5;
}
.timeline__period--event_listener {
    fill: #00BCD4;
}
.timeline__period--event_listener_loading {
    fill: #8BC34A;
}
.timeline__period--template {
    fill: #FFC107;
}
.tooltip{
    position: absolute;
    padding: 16px;
    background: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    text-align: center;
}
.tooltip__title{
    display: block;
}
.tooltip__content{
    display: block;
}
