/**
 * List profiles
 */

#webprofiler-profiles-filter {
    margin-bottom: 20px;
}

#webprofiler-profiles-filter .form-item {
    float: left;
    margin-right: 0.25em;
}

#webprofiler-profiles-filter #edit-actions {
    clear: left;
}
