#wrapper {
    position: relative;
}

#wrapper #resume {
    margin-bottom: 20px;
}

#collectors #overview {
    float: left;
    width: 10%;
}

#collectors #overview ul {
    margin: 0;
    list-style: outside none none;
    padding: 0;
}

#collectors #overview li.selected a {
    font-weight: bold;
}

#collectors #details {
    float: right;
    width: 88%;
    border: 1px solid #ccc;
    padding: 10px;
}

#collectors #details h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#wrapper .collectors-loading {
    position: absolute;
    left: 50%;
    top: 50%;
}
